h1
{
	color:#992700;
	font-family: "Arial";
	font-size: 2.5em;
	border: double medium ;
	padding: 15px 10px 15px;
	margin: 10px 15px 10px;
}

h2
{
	color:#992700;
	font-family: "Arial";
	font-size: 1.8em;
	
}

body
{
	color:#945200;
	background-color:black;
	font-family: "Times New Roman";
	text-indent:2em;
}

p
{
	font-size: 1.25em;
}



nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type:none;
}

nav a:link
{
	color:#945200;
}

nav a:visited
{
	color:#945200;
}

nav a:hover
{
	text-decoration:underline;
	color:white;
}

nav a:Active
{
	color:white;
	text-decoration:underline;
}